<div>
  <span id="select-04">
    Weather Condition:
  </span>
  <select aria-labelledby="select-04">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-3">Snow</option>
  </select>
</div>
