<div>
  <label for="select-01">
    Weather Condition:
  </label>
  <select id="select-01">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-3">Snow</option>
  </select>
</div>
