<div>
  <span>Weather Condition: </span>
  <select aria-label="Weather Condition:">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
