<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>{{ title }} | Metalsmith Page</title>
</head>
<body>
  {{> header }}
  {{> nav }}
  <main class="main-wrapper">
    {{{ contents }}}
  </main>
  {{> footer }}
</body>
</html>
